@charset "utf-8";
.mobMenu {
	border: 1px solid #148fd8;
	cursor: pointer;
	display: none;
	padding: 8px 8px 4px;
	position: absolute;
	right: 1%;
	top: 18px;
	border-radius: 3px;
	width: 32px;
}
.mobMenu span {
	width: 100%;
	float: left;
	height: 3px;
	background: #0277bd;
	margin-bottom: 4px;
}
@media screen and (max-width:1210px) {
header, .section3, .blocks-holder, .selection2 .inside, .container {
	max-width: 98%;
}
nav ul li a {
	padding: 34px 10px 0;
}
.selection2 .inside .sec1 {
	padding: 1%;
	width: 27%;
}
.selection2 .inside .sec2 {
	width: 72%;
}
.selection2 .inside .sec2 .images {
	margin-left: 2%;
	margin-right: 0;
	overflow: hidden;
	width: 23%;
}
.selection2 .inside .sec1 .det {
	padding: 10px 5px;
	width: auto;
}
.selection2 .inside .sec1 p {
	line-height: 16px;
	margin: 10px 0 0;
}
.section3 .right, .section3 .left {
	width: 49%;
}
.banner .bx-pager {
	bottom: 30px;
	float: right;
	left: 0;
	margin-left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 120;
}
.blocks-holder .blocks {
	margin-left: 2%;
	width: 31.3333%;
	margin-right: 0%;
}
.blocks-holder {
	margin: 0 auto 40px;
}
.blocks-holder .blocks img {
	height: auto;
	margin-bottom: 0px;
	width: 100%;
	float: left;
}
.blocks-holder .blocks .txt {
	float: left;
	width: 100%;
}
.blocks-holder .blocks .image {
	float: left;
}
.section4 .inside {
	margin: auto;
	max-width: 98%;
}
.blocks-holder-row {
	margin-left: -2%;
}
.section4 .inside .left, .section4 .right {
	width: 48%;
}
.video.video-popup.cboxElement > img {
	height: auto;
	width: 100%;
}
.section4 .right input[type="text"] {
	margin-right: 2%;
	width: 48%;
}
.section4 .right textarea {
	padding: 10px 2%;
	width: 98.9%;
}
.overlaymain {
	margin-left: -51%;
	width: 100%;
}
.content-scroll {
	height: 140px;
}
.contact-box .box-meta a {
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.banner-inner {
	min-height: inherit;
}
.art-gallery-col {
	height: 162px;
}
.patientes-row .content-scroll {
	height: 286px;
}
.social {
	margin-left: 10px;
}
.contact-box .box-meta p {
	font-size: 14px;
}
.container .jobdesc-sec p strong{
	width:24%;
}
.container .jobdesc-sec p span{
	width:75%;
}
/******************************************/
}
@media screen and (max-width:1020px) {
.selection2 .inside .sec1 {
	padding: 1%;
	width: 100%;
	margin-bottom: 10px;
}
.selection2 .inside .sec2 .images {
	height: 100px;
}
.selection2 .inside .sec1 .img {
	float: left;
	height: auto;
	width: 20%;
	margin-right: 2%;
}
.selection2 .img > img {
	height: auto;
	width: 100%;
}
.selection2 .inside .sec1 .det {
	padding: 10px 5px;
	width: 78%;
	margin-bottom: 10px;
}
.selection2 .det + .clearfix {
	display: none;
}
.selection2 {
	float: left;
	padding: 17px 0;
}
.selection2 .inside .sec2 {
	width: 100%;
}
.selection2 .images > img {
	height: auto;
	width: 100%;
}
.sec2-row {
	margin-left: -2%;
}
.section3 .right, .section3 .left {
	width: 100%;
}
.section4 .inside .left, .section4 .right {
	width: 90%;
}
.section4 {
	background: #fff;
}
.section4 .inside .left {
	background: #f1f1f1;
	float: left;
	padding: 5%;
}
.section4 .right {
	background: #0277bd;
	float: left;
	margin-top: 40px;
	padding: 5%;
	width: 90%;
}
.section4 .video {
	height: auto;
}
.blocks-holder .blocks {
	height: auto;
}
.section4 .inside {
	padding: 0;
}
.banner {
	min-height: inherit;
}
.banner-img img {
	width: 100%;
	height: auto;
}
.texts p {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}
.texts h1 {
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 0;
}
.texts {
	bottom: 24px;
	padding: 5px;
	right: auto;
	top: auto;
	width: 100%;
}
.banner .bx-pager {
	bottom: 4px;
}
.logo {
	border-bottom: 1px solid #f1f1f1;
	height: 64px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	width: 100%;
	background-size: 190px auto;
}
.social {
	float: left;
	margin-left: 0px;
}
header .facebook, header .twitter, header .google, header .pinterest {
	margin-top: 0;
}

.login-button {
    height: 26px;
    line-height: 26px;
    margin-bottom: 5px;
    margin-top: 0;
    position: relative;
    top: 0;
}
.mobMenu {
	display: block;
}
/*nav{
	display:none;
}*/


nav {
	background: #f1f1f1;
	float: none;
	position: absolute;
	top: 70px;
	width: 100%;
	z-index: 333;
	display: none;
	left: 0;
}
nav ul li {
	float: none;
	width: 100%;
}
nav ul li a {
	height: auto;
	line-height: normal;
	padding: 12px 20px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
}
.container h1.con-heading {
	line-height: normal;
}
.box-meta h3 {
	font-family: inherit;
	font-size: 14px;
}
.container h1 {
	font-size: 18px;
	padding-bottom: 10px;
}
.box-meta {
	padding-bottom: 10px;
}
.container {
	font-size: 14px;
	line-height: 20px;
	position: relative;
}
.content-scroll {
	height: 100px;
}
.healp-row h2 {
	font-size: 18px;
	line-height: normal;
	padding-bottom: 10px;
}
.art-gallery-col {
	height: 250px;
	width: 48%;
}
.testimonial-col {
	width: 80%;
}
.patientes-row .content-scroll {
	height: 222px;
}
.overlaymain {
	top: 102px;
}
.contact-box.col-4.border-right {
	margin-right: 2.5%;
	padding-right: 2%;
}
.contact-box img {
	float: none;
	margin-right: 0px;
	margin-bottom: 10px;
}
.col-4.pull-left.contact-box {
	text-align: center;
}
.col-1.pull-right.text-right a img {
	width: 100%;
	text-align: center;
	height: auto;
}
.section4 h1 {
	font-size: 18px;
}
.form-row {
	width: 99%;
}
.form-row label {
	font-size: 14px;
}
.file-input-wrapper.btn.btn-default {
	padding:8px 31px;
}
.container .jobdesc-sec p strong{
	width:100%;
}
.container .jobdesc-sec p span{
	width:100%;
}

.prt_btn {
    display: inline-block;
    position: static;
    right: 0;
    top: auto;
	margin-top:10px;
}

.frm_empapp .prt_btn a {
    display: inline-block;

}
.section4 .right .phone-row{
	width:48%;
}
/******************************************/
}
 @media screen and (max-width:800px) {
.table-box-7 .fr-ri-box span {
	padding-right: 0;
}
.table-box-7 .fr-ri-box span {
	padding-right: 0;
}
.table-box-7 .form-row input.inn-input {
	width: 92% !important
}
.table-box-7 .fr-ri-box {
	min-height: 50px;
	text-align: center;
	float: none;
}
.table-box-7 .form-row.form-row-border select {
	width: 100%;
}
.table-box-7 .form-row.form-row-border label {
	min-height: 50px;
	width: 96%;
}
}
@media screen and (max-width:767px) {
.col-5 {
	width: 100%;
}
.content-scroll {
	height: 140px;
}
.cont-box {
	padding: 20px 5px 20px 20px;
}
.art-gallery-col {
	height: 180px;
	margin-top: 15px;
}
.container {
	padding: 20px 0 0;
}
.img-box-textm {
	float: none;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}
.testimonial-row {
	padding: 10px 10px;
	border: 0;
}
.testimonial-row img {
	background: #f1f1f1;
	border: 1px solid #ccc;
	float: none;
	border-bottom: 0;
	position: relative;
	z-index: 1;
}
.testimonial-col {
	border: 1px solid #ccc;
	float: right;
	margin-top: -11px;
	padding: 2%;
	position: relative;
	width: 96%;
}
.testimonial-row h3 {
	font-size: 15px;
	padding-right: 10px;
}
.department-position {
	font-size: 16px;
	padding-left: 0px;
	padding-right: 10px;
}
.tectmonial-date {
	font-size: 14px;
	padding-left: 0px;
}
.video-row-inn .col-2 {
	margin-bottom: 10px;
	width: 98%;
}
.lost-password-box h2 {
	font-size: 18px;
}
.popupformbox ul li a {
	font-size: 14px;
}
.col-4.pull-left.contact-box {
	text-align: left;
}
.contact-box img {
	float: left;
	margin-bottom: 0px;
	margin-right: 10px;
}
.contact-box.col-4 {
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.contact-box.col-4.border-right {
	margin-right: 0%;
	padding-right: 0%;
	border-bottom: 1px solid #0277bd;
	border-right: 0;
}
.col-1.pull-right.text-right a img {
	position: absolute;
	top: 20px;
	right: 0;
	width: 60px;
	height: auto;
}
.section4.contact-section {
	margin-top: 0;
}
.section4.contact-section .inside {
	padding: 0;
}
.form-row label {
	display: block;
	width: 100%;
}
.form-row input[type="text"], .form-row input[type="email"], .form-row input[type="tel"], .form-row input[type="password"] {
	width: 100%;
	padding: 6px 3%;
}
.form-row input.half-input {
	width: 50% !important;
}
.form-row input.inn-input {
	margin: 3px 2px 0;
	width: 100% !important;
}
.table-box-7 .fr-ri-box {
	text-align: center;
	min-height: 50px;
}
.table-box-7 .form-row.form-row-border label {
	min-height: 50px;
}
.table-box-7 .fr-ri-box span {
	padding-right: 0;
}
.table-box-7 .form-row.form-row-border select {
	float: none;
}
.table-box-7 .form-row input.inn-input {
	margin: 0;
}
.table-box-5 .row.form-row-wrap .form-row label, .table-box-6 .row.form-row-wrap .form-row label {
	font-size: 12px;
}
.fr-ri-box {
	width: 27%;
}
.table-box-7 .form-row.form-row-border select {
}

.form-row textarea {
    width: 100%;
}

h3.form-heading {
    font-size: 16px;
	font-family: "proxima_nova_rgregular";
}

.table-th h2 {
    font-size: 14px;
}
header, .section3, .blocks-holder, .selection2 .inside, .container {
    max-width: 96%;
}

.table-box-inner {
    padding: 15px 10px;
}

.section3 .right .text-area p {
    font-size: 14px;
    line-height: 20px;
}

.section3 .left p {
    font-size: 14px;
    line-height: 20px;
}

.section4 p {
    font-size: 14px;
    line-height: 20px;
}
.section3 h1 {
    font-size: 18px;
}
.section4 p {
    font-size: 14px;
    line-height: 20px;
}
.required {
    left: 0%;

}
/******************************************/
}
@media screen and (max-width:640px) {
.blocks-holder .blocks {
	margin-right: 0;
	width: 100%;
}
.selection2 .inside .sec2 .images {
	margin-left: 2%;
	width: 48%;
	margin-bottom: 10px;
	height: 140px;
}
.blocks-holder .blocks .image {
	width: 100%;
}
.blocks-holder .blocks {
	width: 100%;
	margin-left: 0;
	margin-bottom: 10px;
}
.blocks-holder-row {
	margin-left: 0%;
}
.section4 .right input[type="text"] {
	margin-right: 0;
	width: 100%;
}
.section4 .right .phone-row{
	width:100%;
}
.section4 .right textarea {
	width: 100%;
}
.section3 .right .text-area::after {
	left: 50%;
	z-index: -1;
}
.texts p {
	font-size: 12px;
	line-height: 14px;
	margin: 0;
}
.texts h1 {
	font-size: 16px;
}
.banner .bx-viewport {
	padding-bottom: 85px;
}
.texts {
	bottom: -55px;
}
.banner .bx-pager {
	background: #ccc;
	bottom: 4px;
	padding: 5px 0;
}
.texts p {
	height: 25px;
	overflow: hidden;
}
.selection2 .img > img {
	margin-bottom: 10px;
}
.art-gallery-col {
	height: 160px;
	margin-top: 10px;
}
.testimonial-meta {
	padding-bottom: 10px;
}
/******************************************/
}
 @media screen and (max-width:479px) {
.selection2 .inside .sec2 .images {
	height: auto;
	margin-left: 0;
	width: 100%;
}
.sec2-row {
	margin-left: 0%;
}
.selection2 .det + .clearfix {
	display: block;
}
.selection2 .inside .sec1 .det {
	padding: 8px 5px;
}
.selection2 .inside .sec1 p {
	margin: 0;
}
.cont-box {
	padding: 20px 5px;
}
.art-gallery-col {
	height: auto;
	width: 98%;
}
.artic-img-box {
	width: 100%;
}
.artic-img-box img {
	height: auto;
	padding: 2%;
	width: 96%;
}
.artic-bio {
	margin-top: 10px;
	width: 100%;
}
.department-position {
	display: block;
}
.tectmonial-date {
	display: block;
}
.popupformbox {
	width: 290px;
}
.popupformbox-inner {
	padding: 10px;
}
.contact-box img {
	float: none;
	margin-bottom: 10px;
	margin-right: 0px;
}
.col-4.pull-left.contact-box {
	text-align: center;
}
.table-box-7 .form-row.form-row-border label {
	font-size: 12px;
	min-height: 82px;
}
.table-box-7 .fr-ri-box {
	min-height: 82px;
	font-size: 12px;
}


.fileinputbox {
    width: 55%;
}

/******************************************/
}
