@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),  url('../fonts/proximanova-bold-webfont.woff') format('woff'),  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),  url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.otf') format('opentype'), url('../fonts/ProximaNova-Light.woff')format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Semibold.otf') format('opentype'),  url('../fonts/ProximaNova-Semibold.woff') format('woff'),  url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),  url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.section4 ::-webkit-input-placeholder { 
    color: #93cced;
}
.section4 :-moz-placeholder { 
   color:#93cced;
   opacity:1;
}
.section4 ::-moz-placeholder { 
   color:#93cced;
   opacity:  1;
}
.section4 :-ms-input-placeholder {
   color:#93cced;
}
body {
	margin: 0;
}
header {
	min-height: 100px;
	max-width: 1200px;
	margin: auto;
}
.logo {
	background: url(../images/logo.png) no-repeat left center;
	width: 284px;
	float: left;
	height: 100px;
}
nav {
	float: left;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
	float: left;
}
nav ul li a {
	padding: 0 25px;
	padding-top: 34px;
	height: 46px;
	line-height: 46px;
	display: block;
	text-align: center;
	color: #4d4d4d;
	font-size: 14px;
	text-decoration: none;
	font-family: 'proxima_nova_rgregular';
}
nav ul li a:hover {
	background: #0277bd;
	color: #FFFFFF;
}
nav ul li.current-page a {
	background: #0277bd;
	color: #FFFFFF;
}
.facebook {
	background: url(../images/social.png) no-repeat;
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-right: 8px;
	margin-top: 41px;
}
.facebook:hover {
	background: url(../images/social.png) no-repeat 0 -26px;
}
.twitter {
	background: url(../images/social.png) no-repeat -33px 0;
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-right: 8px;
	margin-top: 41px;
}
.social {
	float: left;
	margin-left: 20px;
}
.twitter:hover {
	background: url(../images/social.png) no-repeat -33px -26px;
}
.google {
	background: url(../images/social.png) no-repeat -66px 0;
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-right: 8px;
	margin-top: 41px;
}
.google:hover {
	background: url(../images/social.png) no-repeat -66px -26px;
}
.pinterest {
	background: url(../images/social.png) no-repeat -99px 0;
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-top: 41px;
}
.pinterest:hover {
	background: url(../images/social.png) no-repeat -99px -26px;
}
.login-button {
	font-family: 'proxima_nova_rgregular';
	font-weight: bold;
	font-size: 14px;
	width: 98px;
	height: 33px;
	background: #2e3249;
	line-height: 33px;
	text-align: center;
	color: #FFFFFF;
	float: right;
	display: block;
	margin-top: 34px;
	text-decoration: none;
}
.banner {
	min-height: 472px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.selection2 {
	background: #f1f1f1;
	padding: 17px;
	border-bottom: 1px solid #e2e2e2;
}
.selection2 .inside {
	max-width: 1200px;
	margin: auto;
	min-height: 167px;
}
.selection2 .inside .sec1 {
	width: 328px;
	min-height: 167px;
	background: #0277bd;
	padding: 12px;
	box-sizing: border-box;
	float: left;
}
.selection2 .inside .sec1 .img {
	widtgh: 59px;
	height: 56px;
	float: left;
}
.selection2 .inside .sec1 .det {
	float: right;
	width: 233px;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	color: #ffffff;
	padding: 10px;
	background: #148fd8;
	box-sizing: border-box;
}
.selection2 .inside .sec1 .det pre {
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	color: #ffffff;
	margin: 0;
	height: 37px;
}
.selection2 .inside .sec1 p {
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	color: #ffffff;
	line-height: 20px;
	margin: 0;
	margin-top: 15px;
}
.selection2 .inside .sec2 {
	width: 852px;
	float: right;
	min-width: 167px;
}
.selection2 .inside .sec2 .images {
	width: 199px;
	float: left;
	margin-right: 18px;
	display: block;
	height: 167px;
}
.selection2 .inside .sec2 .images.no-margin {
	margin-right: 0;
}
.clearfix {
	clear: both;
}
.section3 {
	max-width: 1200px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 75px;
}
.section3 .left {
	width: 565px;
	float: left;
}
.section3 h1 span {
	color: #0277bd;
}
.section3 h1 {
	font-size: 24px;
	text-transform: uppercase;
	color: #2e3249;
	font-family: 'proxima_nova_rgbold';
}
.section3 h1 a {
	font-size: 14px;
	color: #0277bd;
	float: right;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-weight: normal;
}
.section3 .left p {
	font-family: 'proxima_nova_rgregular';
	line-height: 24px;
	font-size: 16px;
	color: #727879;
}
.section3 .right {
	width: 563px;
	float: right;
}
.section3 .right .text-area {
	padding: 30px 24px;
	background: #f1f1f1;
	position: relative;
	margin-top: 30px;
	display: none;
}
.section3 .right .text-area:nth-child(1) {
	display: block;
}
.section3 .right .text-area:before {
	position: absolute;
	left: 30px;
	top: -14px;
	background: url(../images/quote.jpg);
	width: 51px;
	height: 49px;
	content: "";
}
/*.section3 .right .text-area:after {
	position: absolute;
	left: 370px;
	bottom: -39px;
	background: url(../images/pl.png);
	width: 40px;
	height: 57px;
	content: "";
}*/
.section3 .right .text-area p {
	font-family: 'proxima_nova_rgregular';
	color: #727879;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	margin-top: 10px;
	padding-bottom:10px;
}
.richard-gear {
	float: left;
	margin-top: 23px;
	display: inline-block;
	text-decoration: none;
	font-family: 'proxima_nova_rgregular';
	color: #0277bd;
	font-size: 14px;
	position: absolute;
	bottom: 14px;
	right:24px;
}
.blocks-holder {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 73px;
}
.blocks-holder .blocks.no-margin {
	margin-right: 0;
}
.blocks-holder .blocks {
	width: 383px;
	height: 365px;
	float: left;
	margin-right: 24px;
	display: block;
	text-decoration: none;
}
.blocks-holder .blocks img {
	margin-bottom: -5px;
}
.blocks-holder .blocks .txt {
	height: 56px;
	line-height: 56px;
	text-align: center;
	font-family: 'proxima_nova_rgbold';
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	background: #0277bd;
	font-weight: bold;
	text-decoration: none;
}
.section4 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+50,0277bd+50 */
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(left, #f1f1f1 50%, #0277bd 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f1f1f1), color-stop(50%, #0277bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f1f1f1 50%, #0277bd 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f1f1f1 50%, #0277bd 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f1f1f1 50%, #0277bd 50%); /* IE10+ */
	background: linear-gradient(to right, #f1f1f1 50%, #0277bd 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#0277bd', GradientType=1 ); /* IE6-9 */
	min-height: 626px;
}
.section4 .inside {
	max-width: 1200px;
	margin: auto;
	padding-top: 70px;
	padding-bottom: 100px;
}
.section4 .inside .left {
	width: 520px;
	float: left;
}
.section4 h1 {
	font-size: 24px;
	text-transform: uppercase;
	color: #2e3249;
	font-family: 'proxima_nova_rgbold';
	margin: 0;
}
.section4 p {
	font-family: 'proxima_nova_rgregular';
	font-size: 16px;
	color: #727879;
	line-height: 24px;
}
.section4 .video {
	width: 100%;
	height: 300px;
	position: relative;
	margin-top: 50px;
	display: block;
}
.section4 .video:before {
	position: absolute;
	left: 30px;
	top: -14px;
	background: url(../images/ply.jpg);
	width: 51px;
	height: 49px;
	content: "";
}
.section4 .left a.video-view-all-butt {
	width: 110px;
	height: 40px;
	background: #0277bd;
	color: #ffffff;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	float: left;
	display: block;
	text-decoration: none;
	margin-top: 40px;
}
.section4 .left a.video-view-all-butt:hover {
	background: #2e3249;
}
.section4 .right {
	float: right;
	width: 530px;
}
.section4 .right h1, .section4 .right p {
	color: #FFF;
}
.section4 .right input[type="text"].no-margin {
	margin-right: 0;
}
.section4 .right input[type="text"] {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 48.6%;
	height: 48px;
	background: #148fd8;
	color: #ffffff;
	border: 0;
	text-indent: 10px;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
}
.section4 .right .phone-row{
		margin-bottom: 10px;
	width: 48.6%;
	height: 48px;
	background: #148fd8;
	color: #ffffff;
	border: 0;
	text-indent: 10px;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	display:inline-block;
}
.section4 .right input[type="tel"] {
	width:20%;
	background:none;
	border:0;
	border-bottom:1px solid #6dcce9;
	margin-top:14px;
	color:#fff;
	position:relative;
	top:5px;
	margin-left: 8%;
	text-align:center;
}
.section4 form {
	margin-top: 50px;
}
.section4 .right textarea {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 178px;
	background: #148fd8;
	color: #ffffff;
	border: 0;
	resize: none;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	padding: 10px;
	box-sizing: border-box;
}
.section4 .right .submit {
	width: 110px;
	height: 40px;
	background: #ffffff;
	color: #0277bd;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	float: left;
	display: block;
	text-decoration: none;
	margin-top: 40px;
	border: 0;
	cursor: pointer;
}
.section4 .right .submit:hover {
	background: #2e3249;
	color: #fff;
}
footer {
	padding: 35px 0;
	background: #FFFFFF;
	text-align: center;
	color: #8d9faa;
	font-size: 12px;
	font-family: 'proxima_nova_rgregular';
}
footer .soc a {
	margin-top: 0;
	margin-bottom: 20px;
}
footer a {
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	color: #3e4f59;
	text-decoration: none;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}
footer a:hover {
	color: #0277bd;
}
.banner-images img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}
.banner-images img:nth-child(1) {
	display: block;
}
.banner .inside {
	width: 1200px;
	height: 472px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}
.bullets {
	position: absolute;
	right: 0;
	bottom: 20px;
}
.bullets .bull {
	width: 13px;
	height: 13px;
	background: #FFFFFF;
	float: left;
	margin-right: 7px;
	cursor: pointer;
}
.bullets .bull.selected {
	background: #0277bd;
}
.texts {
	width: 500px;
	right: 10px;
	top: 172px;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}
.texts h1 {
	font-family: 'proxima_nova_rgbold';
	font-size: 48px;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.texts h1 span {
	color: #000000;
}
.texts p {
	font-size: 16px;
	color: #ffffff;
	font-family: 'proxima_nova_rgregular';
	line-height: 24px;
}
.bullets2 {
	right: 0;
	bottom: 0;
	float: right;
	margin-top: 20px;
}
.bullets2 .bull2 {
	width: 9px;
	height: 9px;
	background: #bebebe;
	float: left;
	margin-right: 8px;
	border-radius: 50%;
	cursor: pointer;
}
.bullets2 .bull2.selected {
	background: #7a7a7a;
}
/*Inner Page*/
.container p {
	margin: 0 0 16px 0;
}
.container h1, .container h2, .container h3, .container h4, .container h5 {
	margin: 0;
	font-weight: normal;
	word-wrap: break-word;
}
.container a {
	text-decoration: none;
	outline: none;
}
.container h3 {
}
.clr {
	clear: both;
}
.container {
	color: #727879;
	font-family: "proxima_nova_rgregular";
	font-size: 16px;
	line-height: 24px;
}
.container a {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.container h1 {
	color: #2e3249;
	font-family: "proxima_nova_rgbold";
	font-size: 24px;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.heading span {
	padding-right: 8px;
}
.heading span:last-child {
	color: #0277bd;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}
.banner-inner {
	min-height: 200px;
}
.banner-inner img {
	width: 100%;
	height: auto;
}
.box-meta {
	padding-bottom: 20px;
}
.box-meta h3 {
	font-family: 'ProximaNova-Semibold';
	color: #2e3249;
	font-size: 16px;
}
.box-meta h3 strong {
	color: #0277bd;
}
.box-meta a {
	color: #2e3249;
}
.box-meta a:hover {
	color: #0277bd;
}
.bg-row {
	background: #f1f1f1;
}
.bg-row img {
	float: left;
	width: 100%;
	height: auto;
}
.cont-box {
	padding: 30px 20px 30px 40px;
}
.cont-box p {
	text-align: justify;
}
.container h1.con-heading {
	line-height: 30px;
}
.content-scroll {
	height: 210px;
}
.mCSB_buttonUp, .mCSB_buttonDown {
	display: none !important;
}
.col-1 {
	width: 10%;
}
.col-2 {
	width: 20%;
}
.col-3 {
	width: 30%;
}
.col-4 {
	width: 40%;
}
.col-4-h {
	width: 45%;
}
.col-5 {
	width: 50%;
}
.col-6 {
	width: 60%;
}
.col-7 {
	width: 70%;
}
.col-8 {
	width: 80%;
}
.col-9 {
	width: 90%;
}
.col-10 {
	width: 100%;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.contact-box.col-4.border-right {
	margin-right: 4.5%;
}
.border-right {
	border-right: 1px solid #cdced2;
}
.contact-box h3 {
	font-size: 16px;
	font-family: 'ProximaNova-Semibold';
	color: #2e3249;
}
.contact-box img {
	float: left;
	margin-right: 25px;
}
.contact-box .box-meta {
	font-family: 'ProximaNova-Light';
	padding-bottom: 0;
}
.contact-box .box-meta p {
	margin: 5px 0 0 0;
}
.contact-box .box-meta a {
	color: #727879;
}
.contact-box .box-meta a:hover {
	color: #0277bd;
}
.contact-box .box-meta strong {
	color: #0277bd;
	font-family: 'ProximaNova-Semibold';
}
.section4.contact-section {
	min-height: inherit;
	margin-top: 40px;
}
.section4.contact-section .inside {
	padding: 40px 0;
}
.map-box {
	margin-top: 30px;
	position: relative;
	width: 100%;
}
.map-box iframe {
	width: 100%;
	height: 390px;
}
.section4.contact-section form {
	margin-top: 30px;
}
.healp-row {
	border-bottom: 1px solid #d1d9da;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.healp-row p {
}
.healp-row h2 {
	color: #2e3249;
	font-family: 'ProximaNova-Semibold';
	font-size: 24px;
	padding-bottom: 14px;
}
.healp-row-last {
	border-bottom: 0px solid #d1d9da;
	margin-bottom: 0px;
}
.overlaymain {
	height: 100%;
	left: 0;
	position: absolute;
	top: 68px;
	width: 1200px;
	z-index: 199;
	margin-left: -600px;
	left: 50%;
	display: none;
}
.popup-wrapper {
}
.popupvideoBox iframe {
	width: 100%;
	height: 340px;
}
.popupformbox {
	width: 400px;
	background: #fff;
	border: 3px solid #0277bd;
}
.popupformbox-inner {
	padding: 22px;
}
.popupformbox ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.popupformbox ul li {
	float: left;
	margin: 0;
	padding: 0;
}
.popupformbox ul li a {
	color: #0277bd;
	font-family: 'proxima_nova_rgregular';
	font-size: 16px;
	padding: 7px 15px;
	display: block;
	margin-right: 8px;
	text-decoration: none;
}
.popupformbox .pop-form-row {
	margin-bottom: 15px;
}
.popupformbox ul li a:hover {
	background: #0277bd;
	color: #fff;
}
.popupformbox ul li a.currentTabNav {
	background: #0277bd;
	color: #fff;
}
.popupformbox input[type=text], .popupformbox input[type=email], .popupformbox input[type=password] {
	background: #e3e9e9;
	width: 100%;
	padding: 10px 3%;
	border: 0;
	color: #111;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
}
.popupformbox select {
	background: #e3e9e9;
	width: 100%;
	padding: 0 3%;
	border: 0;
	color: #111;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	height:38px;
	line-height:33px;
}
.popupformbox select option {
	padding: 5px;
}
.popupformbox input[type=submit], .popupformbox input[type=button] {
	background: #0277bd;
	width: 96px;
	padding: 5px 0;
	border: 0;
	color: #fff;
	font-family: 'proxima_nova_rgregular';
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}
.popupformbox .tabnav {
	border-bottom: 1px solid #dadde0;
	float: left;
	width: 100%;
	padding-bottom: 13px;
	margin-bottom: 13px;
}
.popupformbox input[type=submit]:hover {
	background: #192a3f;
}
.pop-form-row.submit {
	margin-bottom: 0;
}
.skippopup {
	color: #adb1b8;
	font-family: 'proxima_nova_rgregular';
	font-size: 12px;
	position: absolute;
	right: 28px;
	top: 28px;
	cursor: pointer;
}
.skippopup:hover {
	color: #0277bd;
}
.pop-form-row.forgetpassword-roe {
	margin-top: 15px;
}
.pop-form-row.forgetpassword-roe a {
	color: #0277bd;
	font-size: 14px;
}
.lost-password-box {
	display: none;
}
.lost-password-box h2 {
	color: #2e3249;
	font-family: "ProximaNova-Semibold";
	font-size: 24px;
	margin: 0 0 15px;
}
.skippopup {
	background: url(../images/close-icon.png) no-repeat center center #0277bd;
	color: #adb1b8;
	cursor: pointer;
	font-family: "proxima_nova_rgregular";
	font-size: 12px;
	height: 15px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 0;
	width: 15px;
	padding: 8px;
}
.banner {
	position: relative;
}
.banner .bx-controls-direction {
	display: none;
}
.banner .bx-pager {
	position: absolute;
	bottom: 30px;
	z-index: 120;
	float: right;
	width: 1200px;
	left: 50%;
	margin-left: -600px;
	text-align: right;
}
.banner .bx-pager-item {
	display: inline-block;
	font-size: 0;
}
.banner .bx-pager-item a {
	background: #fff;
	display: inline-block;
	height: 16px;
	margin-left: 7px;
	width: 16px;
}
.banner .bx-pager-item a:hover {
	background: #0277bd;
}
.banner .bx-pager-item a.active {
	background: #0277bd;
}
h2.heading-inn {
	font-family: 'proxima_nova_rgbold';
	color: #2e3249;
	text-transform: uppercase;
	font-size: 18px;
}
.heading-inn span {
	padding-right: 8px;
}
.heading-inn span:last-child {
	color: #0277bd;
}
.table-box {
	border: 1px solid #0277bd;
	margin-top: 30px;
}
.table-box-inner {
	padding: 15px 20px;
}
.table-th {
	background: #e5f1f8;
	border-bottom: 1px solid #0277bd;
	padding: 10px 20px;
}
.table-th h2 {
	font-family: 'proxima_nova_rgbold';
	color: #2e3249;
	text-transform: uppercase;
	font-size: 18px;
}
h3.form-heading {
	font-family: "ProximaNova-Semibold";
	color: #2e3249;
	font-size: 18px;
	padding-bottom: 10px;
}
.padd-top-off {
	padding-top: 0;
}
.form-row-wrap {
	margin-left: -1%;
}
.form-row {
	width: 49%;
	float: left;
	margin: 10px 0 10px 1%;
	position: relative;
}
.form-row label {
	width: 30%;
	color: #0277bd;
	font-size: 16px;
	font-family: "ProximaNova-Semibold";
	display: inline-block;
}
.form-row input[type=text], .form-row input[type=email], .form-row input[type=tel], .form-row input[type=password] {
	background: #fff;
	border: 1px solid #0277bd;
	width: 63%;
	padding: 12px 3%;
	font-size: 16px;
	font-family: 'proxima_nova_rgregular';
	color: #000;
}
.table-box-2 .form-row select, .table-box-3 .form-row select{
 background: #fff none repeat scroll 0 0;
    border: 1px solid #0277bd;
    color: #000;
    font-family: "proxima_nova_rgregular";
    font-size: 16px;
    padding: 12px 3%;
    width: 63%;
	line-height:40px;
}
.form-row textarea {
	background: #fff;
	border: 1px solid #0277bd;
	width: 63%;
	padding: 12px 3%;
	font-size: 16px;
	font-family: 'proxima_nova_rgregular';
	color: #000;
	height: 170px;
	resize: vertical;
}
.form-row input.half-input {
	width: 30%;
}
.form-row input.inn-input {
	width: 16%;
	padding: 4px 1%;
	background: #f5f5f5;
	margin: 0 2px;
}
.form-row-border {
	border: 1px solid #0277bd;
	width: 99%;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 0px solid #0277bd;
	display: table;
}
.form-row-border.form-row-border-last {
	border-bottom: 1px solid #0277bd;
}
.form-row.form-row-border label {
	border-right: 1px solid #0277bd;
	display: inline-block;
	font-family: "proxima_nova_rgregular";
	padding: 5px 2%;
	width: 96%;
}
.form-row.form-row-border label span {
	padding-right: 10%;
}
.form-row.form-row-border select {
	width: 64%;
	padding: 2px;
	border: 1px solid #ccc;
}
.fr-ri-box {
	display: table-cell;
	width: 13%;
	text-align: center;
	vertical-align: middle;
}
.table-box-7 .form-row.form-row-border label {
	width: 36%;
	float: left;
}
.table-box-7 .fr-ri-box {
	float: left;
	padding: 5px 1%;
	text-align: left;
	width: 24%;
}
.table-box-7 .form-row.form-row-border select {
	width: 100px;
	float: right;
}
.border-right {
	border-right: 1px solid #0277bd;
}
.border-top {
	border-top: 1px solid #0277bd;
}
.border-bottom {
	border-bottom: 1px solid #0277bd;
}
.border-off {
	border: 0;
}
.padding-off {
	padding: 0;
}
.table-box-7 .fr-ri-box span {
	padding-right: 10%;
	color: #2d3248;
}
.table-box-7 .form-row input.inn-input {
	width: 53%;
	padding: 1px 1%;
}
.table-box-7 .fr-ri-box+.fr-ri-box {
	padding-right: 0;
	width: 32%;
}
.small-text {
	font-size: 14px;
}
.form-row .small-text {
	padding: 5px 2%;
	display: block;
}
.vertical_align_top {
	vertical-align: top;
}
.text-color-blue {
	color: #0277bd;
}
.table-box h4 {
	font-family: 'proxima_nova_rgbold';
	font-size: 18px;
}
#uploadFile {
	width: 70%;
}
.fieldgroup.fileuploadrow {
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.btn-primary {
	background-color: #0064b9;
	border-color: #0064b9;
	color: #fff;
	font-weight: bold;
}
.btn {
	-moz-user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;
	padding: 6px 31px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background: url(../images/browser-button.png) no-repeat;
	color: #111;
	float: right;
}
.btn:hover {
}
.file-upload input.upload {
	cursor: pointer;
	font-size: 20px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 26px;
	top: 12px;
	width: 120px;
}
.file-upload {
	margin: 10px;
	overflow: hidden;
	position: relative;
}
input[type="file"] {
	display: block;
}
button[disabled], html input[disabled] {
	cursor: default;
}
.fileinputbox {
	background: #fff;
	border: 1px solid #0277bd;
	color: #727272;
	font-size: 13px;
	height: 19px;
	padding: 8px 2%;
	position: absolute;
	width: 66%;
}
.file-input-name {
	left: 6px;
	position: relative;
	top: 8px;
	z-index: 3;
}
.form-row-cust {
	width: 48%;
	clear: both;
}
.margin-left-off {
	margin-left: 0;
}
.form-row input[type=submit] {
	background: #0277bd;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
	padding: 8px 40px;
	font-family: 'proxima_nova_rgbold';
	font-size: 18px;
}
.form-row input[type=submit]:hover {
	background: #3f3f3f;
}
ul.list-box {
	margin: 0;
	padding: 20px 0 20px 15px;
}
ul.list-box li {
	color: #0277bd;
}
ul.list-box li span {
	color: #727879;
}
.testimonial-row {
	background: #f1f1f1;
	box-sizing: border-box;
	padding: 20px 30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff
}
.testimonial-row-first {
	border-top: 0px solid #ccc;
}
.testimonial-row-last {
	border-bottom: 0px solid #ccc;
}
.testimonial-row h3 {
	color: #0277bd;
	font-family: "ProximaNova-Semibold";
	font-size: 18px;
	padding-bottom: 2px;
	display: inline-block;
}
.department-position {
	color: #727879;
	font-family: 'proxima_nova_rgregular';
	font-size: 18px;
	padding-bottom: 2px;
	display: inline-block;
	padding-left: 20px;
}
.tectmonial-date {
	color: #0277bd;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	padding-bottom: 2px;
	display: inline-block;
	padding-left: 30px;
}
.tectmonial-date:before {
	content: "\f133";
	font-family: 'FontAwesome';
	font-style: normal;
	padding-right: 10px;
}
.img-box-textm {
	float: left;
	width: 9%;
}
.testimonial-row img {
	border: 1px solid #ccc;
	float: left;
	padding: 6px;
}
.testimonial-col {
	float: right;
	width: 88%;
}
.testimonial-row p {
	margin-bottom: 0;
	display: inline;
}
.testimonial-content:after {
	color: #0277bd;
	font-family: 'FontAwesome';
	font-size: 18px;
	content: "\f10e";
	padding-left: 10px;
}
.testimonial-content:before {
	color: #0277bd;
	font-family: 'FontAwesome';
	font-size: 18px;
	content: "\f10d";
	padding-right: 10px;
}
.artic-img-box {
	width: 16%;
}
.artic-img-box img {
	float: left;
	width: 100%;
	height: auto;
	border: 1px solid #f1f1f1;
	padding: 6px;
}
.artic-bio {
	width: 80%;
	text-align: justify;
}

.artic-row h1 {
	padding-bottom: 20px;
}
.artic-row h1:first-letter {
	color: #0277bd;
}
.art-gallery-row {
	padding-top: 40px;
}
.art-gallery-row-inn {
	margin-left: -2%;
}
.art-gallery-col {
	width: 23%;
	float: left;
	margin-left: 2%;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	height: 200px;
}
.art-gallery-col img {
/*	width: 100%;
	height: auto;
	float: left;

	*/
	width: 95%;
    height: 188px;
    float: left;
    line-height: 192px;
    position: relative;
    text-align: center;
    object-fit: scale-down;
    object-position: center;
    border: 1px solid #ccc;
    padding: 5px;
}

.light-box-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	opacity: 0;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.art-gallery-col:hover .light-box-overlay {
	height: 100%;
	opacity: 1;
	bottom: 0;
}
.light-box-overlay:before {
	content: "\f00e";
	color: #fff;
	font-family: 'FontAwesome';
	font-size: 30px;
	position: relative;
	top: 44%;
}
.view-more-butt {
	background: #2e3249;
	color: #fff;
	font-family: "proxima_nova_rgregular";
	font-size: 12px;
	margin-top: 10px;
	padding: 3px 15px;
	position: absolute;
	text-decoration: none;
}
.view-more-butt:hover {
	background: #148fd8;
}
.video-row-inn {
	margin-left: -2%;
}
.video-row-inn .col-2 {
	width: 48%;
	margin-left: 2%;
	margin-bottom: 20px;
}
.video-row-inn .col-2 iframe {
	width: 100%;
	height: 300px;
}
.patientes-row .content-scroll {
	height: 358px;
}
/*Inner Page*/
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999; /*overflow:hidden;*/
}
#cboxWrapper {
	max-width: none;
}
#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#cboxTitle {
	margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}
.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
	-ms-interpolation-mode: bicubic;
}
.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
}
#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
#cboxOverlay {
	background: #000;
}
#colorbox {
	outline: 0;
}
#cboxContent {
	margin-top: 20px;
	background: #000;
}
.cboxIframe {
	background: #fff;
}
#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}
#cboxLoadedContent {
	border: 5px solid #fff;
}
#cboxTitle {
	bottom: -25px;
	color: #ccc;
	left: 0;
}
#cboxLoadingGraphic {
	background: url(../images/loading.gif) no-repeat center center;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: auto;
	background: none;
}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
	outline: 0;
}
#cboxSlideshow {
	position: absolute;
	top: -20px;
	right: 90px;
	color: #fff;
}
#cboxPrevious {
	position: absolute;
	top: 50%;
	left: -44px;
	margin-top: -14px;
	background: url(../images/light-box-prev.png) no-repeat top left;
	width: 15px;
	height: 29px;
	text-indent: -9999px;
}
/*#cboxPrevious:hover {
	background-position: bottom left;
}*/
#cboxNext {
	position: absolute;
	top: 50%;
	right: -44px;
	margin-top: -14px;
	background: url(../images/light-box-next.png) no-repeat top right;
	width: 15px;
	height: 29px;
	text-indent: -9999px;
}
/*#cboxNext:hover {
	background-position: bottom right;
}*/
#cboxClose {
	display: block;
	height: 28px;
	position: absolute;
	right: -12px;
	text-indent: -9999px;
	top: -14px;
	width: 29px;
	background: url(../images/light-box-close.jpg) no-repeat top center;
}
#cboxClose:hover {
	background-position: bottom center;
}
#cboxTitle {
	font-family: "proxima_nova_rgregular";
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	width: inherit;
	padding: 5px 0 0 0;
}
#cboxCurrent {
	bottom: -46px;
	left: 0px;
	color: #44a3d5;
	font-family: "proxima_nova_rgregular";
	font-size: 14px;
	font-style: italic;
	width: inherit;
	padding: 5px 0 0 0;
}
#cboxRev {
	bottom: -46px;
	left: 0px;
	color: #44a3d5;
	font-family: "proxima_nova_rgregular";
	font-size: 14px;
	font-style: italic;
	padding: 5px 0 0 0;
}
.thanmessage-box, .errownnmessage-box {
	font-family: "proxima_nova_rgregular";
	font-size: 16px;
	padding: 5px 20px;
	margin-bottom: 8px;
	background: #fff;
}
.thanmessage-box {
	color: #07953c;
}
.errownnmessage-box {
	color: #f00;
}
#cap_img {
	background: url(../images/capiimg.png) repeat-y right top;
	color: #000;
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -3px;
	margin-bottom: 13px;
	padding: 10px;
}
.required {
    display: block;
    font-size: 12px;
    left: 30%;
    margin-top: -3px;
    position: absolute;
}
.required.caperror {
	 left: 0%;
}
.required.fmat{
	 left: 0%;
	 top:34px;
}
.required.fsize{
	left: auto;
	  margin-top: -8px;
}
.table-box{
	position:relative;
}


.eoplink-sec a {
    color: #0277bd;
    display: block;
	padding:4px 0;

}
.eoplink-sec a:before {
  content: "\f111";
  font-family: 'FontAwesome';
  position:relative;
  top:-1px;
  margin-right:8px;
  font-size:10px;
}

.eoplink-sec a:hover{
	color:#2e3249;
}

.container .ins-row-wrap {
    float: left;
    padding-bottom: 40px;
    width: 100%;
}

.container .instac-sec strong{
	color: #2e3249;
	font-size:18px;
}

.container .jobdesc-sec p {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.container .jobdesc-sec  p strong{
	color: #2e3249;
    font-family: "ProximaNova-Semibold";
	font-size: 16px;
	text-transform:uppercase;
	width:240px;
	float:left;
	
}
.container .jobdesc-sec  p label{
	width:900px;
	float:left;
}
.jobdec-list{
}
.jobdec-list ul{
	padding-bottom:14px;
}
.jobdec-list ul li{
	padding-bottom:4px;
}
.jobdec-list h2{
	 color: #2e3249;
    font-family: "ProximaNova-Semibold";
    font-size: 24px;
    padding-bottom: 0px;
	text-transform:uppercase;
}
.container.left-site{
	padding:10px 0;
}
.container.left-site .required {
    position: static;
}

.form-row .phone-row input[type="tel"] {
    left: -4px;
    position: relative;
    text-align: center;
    width: 20%;
}

.form-row-wrapa{
	display:inline;
	position:relative;
}

.form-row-wrapa .required {
    font-size: 11px;
    left: 0;
    top: 35px;
}
.col-10.healp-row h2 a{
color: #0277bd;
}
.col-10.healp-row h2 a:hover{
color: #2e3249;
}




.frm_empapp{
	position:relative;
}

.prt_btn {
    position: absolute;
    right: 0;
    top: -62px;
}

.frm_empapp .prt_btn input[type="button"] {
    background: #0277bd;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "proxima_nova_rgbold";
    font-size: 18px;
    padding: 8px 26px;
    text-transform: uppercase;
}


.frm_empapp .prt_btn input[type="button"]:hover {
    background: #3f3f3f ;
}

.frm_empapp .prt_btn a{
	background: #0277bd;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "proxima_nova_rgbold";
    font-size: 18px;
    padding: 8px 26px;
    text-transform: uppercase;
}
.frm_empapp .prt_btn a:hover {
    background: #3f3f3f ;
}


.thankyou-sussmsg {
    border: 1px solid #090;
    color: #090;
    display: inline-block;
    padding: 5px 10px;
}

#err_upload {
    left: 0;
    position: absolute;
    top: 39px;
    width: 100%;
}

/*-------- HIRAL css start -------*/

.banner-img > img {float: left;width: 100%;}
.blocks-holder .blocks .image > img:hover{ opacity: 0.5;transition: all 0.5s ease 0s;}
.blocks-holder .blocks:hover {border: 5px solid hsl(202, 98%, 37%);transition: all 0.5s ease 0s;}
.our_team {float: left;padding: 50px 0 0;width: 100%;}
.col-sm4 {float: left;    margin-right: 1%;width: 24%;}
.team_images {background: hsl(0, 0%, 95%) none repeat scroll 0 0;float: left;width: 100%;border-radius: 5px;box-shadow:2px 3px 4px hsl(0, 0%, 75%);border: 2px solid hsl(0, 0%, 69%);}
.col-sm4 > a {float: left;width: 100%;}
.pic {float: left;position: relative;width: 100%;}
.pic img {border: 5px solid hsl(0, 0%, 69%);border-radius: 50%;bottom: 0;display: block;float: none;height: 150px;left: 0;margin: 0 auto;position: absolute;right: 0;text-align: center;top: -40px;width: 150px;}
.team_content {float: left;    padding: 55% 4% 4%;width: 92%;}
.team_content p {text-align: justify;color:#000;}
.our_team a .team_images:hover {background: hsl(0, 0%, 91%) none repeat scroll 0 0;border: 2px solid hsl(202, 98%, 37%);transition: all 0.2s ease 0s;}
.pic img:hover {border-color: hsl(202, 98%, 37%);}


@media screen and (min-width:240px) and (max-width:319px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
	
}

@media screen and (min-width:320px) and (max-width:359px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
	
}


@media screen and (min-width:360px) and (max-width:419px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
.team_content{padding: 40% 4% 4%;}
}

@media screen and (min-width:420px) and (max-width:459px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
.team_content{padding: 40% 4% 4%;}	
}

@media screen and (min-width:460px) and (max-width:530px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
.team_content{padding: 30% 4% 4%;}	
}

@media screen and (min-width:531px) and (max-width:567px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
.team_content{padding:25% 4% 4%;}	
}

@media screen and (min-width:568px) and (max-width:599px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
.team_content{padding:25% 4% 4%;}	
}

@media screen and (min-width:600px) and (max-width:667px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
.team_content{padding:25% 4% 4%;}	
}

@media screen and (min-width:668px) and (max-width:735px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width: 99%;}	
.team_content{padding:25% 4% 4%;}	
}

@media screen and (min-width:736px) and (max-width:767px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width:48%;}	
.team_content{padding:40% 4% 4%;}	
}

@media screen and (min-width:768px) and (max-width:800px){
.col-sm4 {float: left;margin-bottom: 15%;margin-right: 1%;width:48%;}	
.team_content{padding:40% 4% 4%;}	
}

@media screen and (min-width:801px) and (max-width:980px){
.team_content{padding:70% 4% 4%;}	
}

@media screen and (min-width:1020px) and (max-width:1210px){
header nav ul li a{height: 40px;padding: 10px 25px 0;line-height: 38px;}
}

.banner-inner.about_banner_image  img{height:420px;}
/*-------- HIRAL css Over -------*/
